.calculatorContainer {
    margin-top: 25px;
}

.calculatorItem {
    width: 100%

}

.deactive {
    pointer-events: none
  }

.frame {
    width: 243px;
    height: 480px;

    
    box-sizing: border-box;
    border-radius: 6px;
}