.constructorContainer {
    margin-top: 25px;

}

.itemContainer {
    width: 240px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    margin-bottom: 12px;
    padding: 4px;

}


.inputFieldContainer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.inputField {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 4px;
    width: 232px;
    height: 50px;
    background: #F3F4F6;
    border-radius: 6px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
}

.inputField p {
    padding: 4px 18px 4px;
}

.operationContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 4px;


}



.item p {
    margin: 0;


}


.numberContainer {
    width: 240px;
    display: grid;
    grid-template-columns: 80px 80px 80px;
    gap: 8px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #E2E3E5;
    box-sizing: border-box;
    border-radius: 6px;

}

.numberItem {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 24px 30px 25px; */
    width: 72px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E2E3E5;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 8px;
}

.numbersContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.numberItem p {
    margin: 0;
}


.equalContainer {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5D5FEF;
    border-radius: 6px;

}

.itemEqual {
    color: #FFFFFF;
    ;

}