.constructorContainer {
    width: 240px;
   
}

.itemContainer {
   

background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 4px;
display: flex;
margin-bottom: 20px;

}

.inputField {
    height: 56px;
text-align:  right;
/* flex-direction: row; */
justify-content: flex-end;
align-items: center;
padding: 4px 8px;
width: 232px;
height: 52px;
background: #F3F4F6;
border-radius: 6px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;
}

.item {
    display: flex;
/* flex-direction: row; */
justify-content: center;
align-items: center;
padding: 24px 30px 25px;
width: 52px;
height: 42px;
background: #FFFFFF;
border: 1px solid #E2E3E5;
box-sizing: border-box;
border-radius: 6px;
}

.numberContainer {
    width: 240px;
    display: grid;
    grid-template-columns: 80px 80px 80px ;
    gap: 8px;
}

.numberItem {
    display: flex;

justify-content: center;
align-items: center;
padding: 24px 30px 25px;

height: 48px;
background: #FFFFFF;
border: 1px solid #E2E3E5;
box-sizing: border-box;
border-radius: 6px;
}