.headerContainer {
    display: flex;
flex-direction: row;
align-items: center;
padding: 1px;

/* position: absolute; */
width: 243px;
height: 38px;


background: #F3F4F6;
border-radius: 6px;

} 

.headerItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    /* position: static; */
    width: 133px;
    height: 36px;
    /* left: 109px;
    top: 1px; */
    
    background: #FFFFFF;
    border: 1px solid #E2E3E5;
    box-sizing: border-box;
    border-radius: 5px;

}