.operationContainer {
  display: flex;
  width: 100%; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 4px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 42px;
  background: #ffffff;
  border: 1px solid #e2e3e5;
  box-sizing: border-box;
  border-radius: 6px;
}

.item p {
  margin: 0;
}
