.App {
  /* font-family: 'Inter', sans-serif; */
  border: 1px solid;
  text-align: center;
  width: 695px;
  height: 640px;
  display: flex;
  flex-direction: column;
 
}

.content {
  display: flex;
  justify-content: space-around;
}
